
#log.open_file = "rtlog.log",(cat,/storage/downloads/torrent/rtorrent.log.,(system.pid))
#log.add_output = "info", "rtlog.log"

min_peers = 1
max_uploads = 5
#download_rate = 0
max_peers = 1024
#upload_rate = 900

scgi_port = 127.0.0.1:9999

directory = /storage/downloads/torrent/torrents
session = /storage/downloads/torrent/Session

schedule = watch_directory_1,10,10,"load_start=/storage/downloads/torrent/torrents/*.torrent"

#schedule = low_diskspace,5,60,close_low_diskspace=100M
#schedule = ratio,60,60,"stop_on_ratio=200,200M,2000" 

port_range = 16362-16382
port_random = yes 
dht = disable
dht_port = 6881   
peer_exchange = yes 

use_udp_trackers = yes
#encryption = allow_incoming,enable_retry,prefer_plaintext
#encryption = allow_incoming,try_outgoing,enable_retry
encryption = allow_incoming,enable_retry,prefer_plaintext
#throttle_up = low,10
#throttle_down = low,10
#throttle_up = med,20
#throttle_down = med,20

#send_buffer_size = 10M  
#receive_buffer_size = 20M 
encoding_list=UTF-8 

#http_capath = /storage/leafmod/capath

